<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>装修记账</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/dist/css/bootstrap.min.css">
	<style type="text/css">
		body{ background: #fff; font-family: "微软雅黑"; color: #333;}
		.th { font-size: 20px; width: 100%; position: fixed; background-color: #dff0d8; }
		.thr { height: 50px; }
		.th * { padding: 5px; }
		.t1 { font-size: 20px; margin-bottom: 120px; width: 100%; }
		.t1 * { padding: 5px; }
		.t2 { font-size: 18px; width: 100%; margin-bottom: 10px; background-color: #fff; }
		.sum { text-align: center; position: fixed; bottom: 0; background-color: #dff0d8; font-size: 20px; border-radius: 5px; padding: 10px; margin: auto; width: 100%; }
		.info { background-color: #e1f5ff; }
	</style>
</head>
<body>
	<!-- <div class="table-responsive"> -->
	<div class="sum">
		<p>设定预算：{$budget} <a href="">修改</a></p>
		<p>总计：{$all} &nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-primary">查看统计</button></p>
		<p>剩余：{$budget-$all}</p>
		<div id="stat">
		<p>---------------------</p>
		<volist name="stat" id="vo">
		<p>{$vo.term}：{$vo.sum(price)}</p>
		</volist>
		</div>
	</div>
	<table class="table-bordered th">
			<thead>
				<tr class="thr">
					<th width="10%">#</th>
					<th width="15%">大类</th>
					<th width="35%">项目</th>
					<th width="25%">小计</th>
					<th width="15%">操作</th>
				</tr>
			</thead>
			</table>
		<table class="table-bordered t1">
			<thead>
				<tr class="thr">
					<th width="10%">&nbsp;</th>
					<th width="15%">&nbsp;</th>
					<th width="35%">&nbsp;</th>
					<th width="25%">&nbsp;</th>
					<th width="15%">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<volist name="decoration" id="vo">
				<tr id="t_{$vo.id}" class="total">
					<th>{$vo.id}</th>
					<td>{$vo.term}</td>
					<td>{$vo.item}</td>
					<td>{$vo.total}</td>
					<td><a href="{:U('create/pay',array('id'=>$vo['id']),'')}">＋</a></td>
				</tr>
				<tr id="c_{$vo.id}" class="content">
					<th>内容</th>
					<td colspan="4">{$vo.content}</td>
				</tr>
				<tr id="d_{$vo.id}" class="detail">
					<td colspan="5">
						<table class="table-bordered t2">
							<thead>
								<tr>
									<th>#</th>
									<th>日期</th>
									<th>金额</th>
									<th>类目</th>
									<th>方式</th>
									<th>备注</th>
									<th>单据</th>
								</tr>
							</thead>
							<tbody>
								<volist name="payment" id="vo1">
								<eq name="vo1.dec_id" value="$vo.id">
								<tr>
									<td>{$vo1.id}</td>
									<td>{$vo1.date}</td>
									<td>{$vo1.price}</td>
									<td>{$vo1.category}</td>
									<td>{$vo1.method}</td>
									<td>{$vo1.remark}</td>
									<td><a href="{$vo1.url}">查看</a></td>
								</tr>
								</eq>
								</volist>
							</tbody>
						</table>
					</td>
				</tr>
				<tr><td colspan="5"></td></tr>
				</volist>
			</tbody>
		</table>
	<!-- </div> -->

	<script src="__PUBLIC__/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.detail').hide()
			$('.content').hide()
			$('#stat').hide()
		})
		$('button').click(function(){
			$('#stat').toggle()
		})
		$('.total').click(function(){
			var id = $(this).attr('id').slice(2)
			$('#d_'+id).toggle()
			$('#c_'+id).toggle()
			if ($(this).attr('class') == 'total') {
				$('#t_'+id).attr('class', 'total info')
				$('#c_'+id).attr('class', 'content info')
				$('#d_'+id).attr('class', 'detail info')
				return
			}
			if ($(this).attr('class') == 'total info') {
				$('#t_'+id).attr('class', 'total')
				$('#c_'+id).attr('class', 'content')
				$('#d_'+id).attr('class', 'detail')
				return
			}
		})
	</script>
</body>
</html>

